argparse
better-exceptions-xl0
dotenv
fastapi
gitpython
jinja2
pandas
pillow
playwright
python-multipart
notion-client==2.5.0 # notion2pandas does not yet support the latest notion-client version
notion2pandas
uvicorn
