{% extends "scaffold.jinja" %}

{% block content %}
<h1 class="title">Card Renderer</h1>
<form action="/card_renderer" method="post">
    <fieldset class="field is-grouped">
        <div>
            <label class="label">Input Adapter</label>
            <div class="control">
                <div class="select">
                    <select name="option">
                        {% for input_adapter in input_adapters %}
                        <option value="{{ input_adapter }}">{{ input_adapter.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div>
            <label class="label">Output Adapter</label>
            <div class="control">
                <div class="select">
                    <select name="option">
                        {% for output_adapter in output_adapters %}
                        <option value="{{ output_adapter }}">{{ output_adapter.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="field">
        <div class="control">
            <button class="button is-primary" type="submit">Submit</button>
        </div>
    </fieldset>
</form>
{% endblock %}